// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "icon_theme": "Catppuccin Frappé",
  "theme": {
    "mode": "dark",
    "light": "Ayu Dark",
    "dark": "Kohra",
  },
  "ui_font_family": "Retina",
  "ui_font_size": 15.0,
  "agent_ui_font_size": 16.0,
  "agent_buffer_font_size": 13.0,
  "buffer_font_family": "MonoLisaNF",
  "buffer_font_weight": 400.0,
  "buffer_font_size": 14.0,
  "show_edit_predictions": false,
  "edit_predictions": {
    "provider": "zed",
  },
  "git_panel": {
    "dock": "left",
  },
  "project_panel": {
    "dock": "left",
  },
  "title_bar": {
    "show_branch_status_icon": true,
  },
  "base_keymap": "VSCode",
  "autosave": "on_focus_change",
  "soft_wrap": "editor_width",
  "session": {
    "trust_all_worktrees": true,
  },
  "terminal": {
    "copy_on_select": true,
    "cursor_shape": "bar",
    "font_family": "MonoLisaNF",
    "font_size": 13.0,
    "font_weight": 400.0,
    "dock": "right",
    "option_as_meta": true,
  },
  "file_scan_exclusions": [
    "**/.git",
    "**/node_modules",
    "**/.next",
    "**/.turbo",
    "**/.cache",
    "**/.playwright-mcp",
    "**/dist",
    "**/build",
    "**/.svn",
    "**/.hg",
    "**/CVS",
    "**/.DS_Store",
    "**/Thumbs.db",
    "**/.classpath",
    "**/.settings",
  ],
  "agent_servers": {
    "opencode": {
      "type": "registry",
    },
    "gemini": {
      "type": "registry",
    },
    "claude-acp": {
      "favorite_config_option_values": {
        "mode": ["plan", "bypassPermissions"],
      },
      "default_config_options": {
        "model": "opusplan",
      },
      "type": "registry",
    },
  },
  "context_servers": {
    "chrome-devtools-mcp-zed": {
      "enabled": true,
      "remote": false,
      "settings": {
        "browser_url": null,
        "ws_endpoint": null,
        "ws_headers": null,
        "auto_connect": null,
        "channel": null,
        "headless": null,
        "isolated": null,
        "user_data_dir": null,
        "viewport": null,
        "executable_path": null,
        "chrome_arg": [],
        "proxy_server": null,
        "accept_insecure_certs": null,
        "category_emulation": null,
        "category_performance": null,
        "category_network": null,
        "log_file": null,
        "extra_args": [],
      },
    },
  },
  "agent": {
    "default_profile": "write",
    "thinking_display": "preview",
    "inline_assistant_model": {
      "provider": "openrouter",
      "model": "deepseek/deepseek-v4-flash",
      "enable_thinking": false,
    },
    "default_model": {
      "provider": "openrouter",
      "model": "openrouter/auto",
      "enable_thinking": false,
    },
    "commit_message_model": {
      "provider": "openrouter",
      "model": "deepseek/deepseek-v4-flash",
    },
    "thread_summary_model": {
      "provider": "openrouter",
      "model": "deepseek/deepseek-v4-flash",
    },
    "dock": "right",
    "tool_permissions": {
      "default": "allow",
      "tools": {},
    },
    "favorite_models": [],
    "play_sound_when_agent_done": "always",
    "notify_when_agent_waiting": "all_screens",
    "model_parameters": [],
  },
  "language_models": {
    "google": {
      "api_key": "{{ joinPath .chezmoi.sourceDir ".zedGoogleApiKey.age" | include | decrypt | trim }}",
      "available_models": [
        {
          "name": "gemini-3.1-flash-lite",
          "display_name": "Gemini 3.1 Flash-Lite (Fastest)",
          "max_tokens": 1000000,
        },
        {
          "name": "gemini-3-flash",
          "display_name": "Gemini 3 Flash (Recommended)",
          "max_tokens": 1000000,
        },
        {
          "name": "gemini-3.1-pro",
          "display_name": "Gemini 3.1 Pro (Flagship)",
          "max_tokens": 1000000,
        },
      ],
    },
  },
  "lsp": {
    "vscode-css-language-server": {
      "settings": {
        "css": {
          "lint": {
            "unknownAtRules": "ignore",
          },
        },
      },
    },
  },
  "auto_install_extensions": {
    "catppuccin-icons": true,
    "charmed-icons": true,
    "colored-zed-icons-theme": true,
    "flexoki-themes": true,
    "git-firefly": true,
    "html": true,
    "make": true,
    "markdown-oxide": true,
    "material-icon-theme": true,
    "mcp-server-context7": true,
    "mcp-server-github": true,
    "min-theme": true,
    "phosphor-icons-theme": true,
    "postgres-context-server": true,
    "rainbow-csv": true,
    "sql": true,
    "tailwind-theme": true,
    "toml": true,
    "xml": true,
  },
}
